.step {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 2px solid #5e6488;
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: bold;
    color: #5e6488; 

    &--active {
      border-color: #4f4fff; 
      background-color: #4f4fff; 
      color: #fff; 
    }
  }

  &__label {
    font-size: 1rem;
    color: #7981b2; 

    &--active {
      color: #000000; 
      font-weight: bold;
    }
  }
}