.plan-list-card {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 40px 32px 48px 32px;
  box-shadow: 0px 4px 8px rgba(174, 172, 243, 0.35);
  display: flex;
  flex-direction: column;
  gap: 24px;

   &__header-container {
    h3 {
      font-size: 18px;
      font-weight: bold;
      color: #141938;
    }

    h6 {
      font-size: 14px;
      color: #7981b2;
      margin: 8px 0;
    }

    h4 {
      font-size: 20px;
      font-weight: bold;
      color: #141938;
    }

    h5 {
      font-size: 14px;
      color: #7981b2;
      text-decoration: line-through; 
      margin-bottom: 4px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d7dbf5;

    &-container {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: #141938;

      h3 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.2px;
        font-weight: 900;
        margin-bottom: 20px;
      }

      h4 {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.2px;
        font-weight: 900;
      }

      h6 {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        font-weight: 900;
        color: #7981b2;
      }
    }
  }

  &__content {
    ul {
      list-style-type: disc;
      padding-left: 20px;

      li {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.1px;
        color: #141938;
        font-weight: 400;
        margin-bottom: 24px;

        &::first-line {
          font-weight: 700;
        }
      }
    }
  }

  &__button {
      padding: 14px 32px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 32px;
    background-color: #ff1c44;
    color: #ffffff;
    outline: none;
    width: max-content;
    text-align: center;
    margin: auto;
    border: none;
    letter-spacing: 0.4px;
    font-weight: 700;
    transition: background-color 0.3s 

  ease-in-out;
    &:hover {
      background-color: #e6002c;
      cursor: pointer;
    }
  }
}