.plan-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  gap: 32px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 16px;
  padding: 20px 16px;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .plan-list__item {
    scroll-snap-align: start;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 4px 8px rgba(174, 172, 243, 0.35);
    padding: 40px 32px 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @media (min-width: 768px) {
    grid-auto-columns: 320px; // ancho fijo de cada card en desktop
    justify-content: flex-start;
  }

  @media (min-width: 1280px) {
    grid-auto-columns: 360px;
    justify-content: flex-start;
  }
}
