.summary {
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  row-gap: 32px;
  max-width: 1120px;
  margin: 0 auto;
  padding: 32px 24px;
  color: #141938;

  &__back {
    display: none;
  }
  &__back_container {
    button{
      display: flex;
      align-items: center;
      gap: 8px;
     
    }
    span {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.4px;
      font-weight: 700;
      color: #4f4fff;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }


  &__title {
    grid-column: span 4;

    &__text {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.6px;
      font-weight: 700;
      text-align: center;
    }
  }

  &__card {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    gap: 16px;
    box-shadow: 0px 4px 8px rgba(174, 172, 243, 0.25);
    padding: 24px 32px;
    border-radius: 24px;
   
  }

  &__header {
    padding-bottom: 16px;
    border-bottom: 1px solid #d7dbf5;
  }


  &__subtitle {
   font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.8px;
    font-weight: 900;
    margin-bottom: 8px;
    color: #141938;
  }

  &__name {
    font-size: 20px;
    font-weight: bold;
    color: #141938;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__icon {
    font-size: 24px;
  }

  &__info,
  &__plan {
    h5 {
      font-size: 16px;
      font-weight: bold;
      color: #141938;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
      color: #7981b2;
      margin: 0;
    }
  }

  @media (min-width: 768px) {
    .summary__back {
      display: block;
      grid-column: 2 / span 10;
    }
    &__title {
      grid-column: 2 / span 10;

      &__text {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.6px;
        text-align: left;
      }
    }
    &__card {
      grid-column: 2 / span 10;
    }
  }
}

@media (min-width: 768px) {
  .summary {
    grid-template-columns: repeat(12, 1fr);
  }
}
